# Entornos virtuales
venv/
.venv/

# Cachés de Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Datos (pueden ser pesados o sensibles) — en cualquier proyecto del monorepo
**/datasets/*
!**/datasets/.gitkeep

# Modelos entrenados
**/models/*.pkl
**/models/*.joblib

# Sistema operativo
.DS_Store

# VS Code
.vscode/